.square {
    /*background: #fff;*/
    /*border: 1px solid #999;*/
    float: left;
    font-size: 24px;
    height: 30px;
    text-align: center;
    width: 30px;
    border-width: 2px;
    background-color: #C0C0C0;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    display: block;
}

.square:focus {
    outline: none;
}